form.form(autocomplete="off")
  fieldset.form__wrap
    .form__el-wrap
      label.form__label.vshidden(for="name") Name
      input.form__input#name(
        type="text",
        name="name",
        inputmode="text",
        title="Введите Ваше имя. Поле должно содержать минимум два символа."
        minlength="2",
        placeholder="Name",
        spellcheck="true",
        autocorrect="on",
        required,
        mozactionhint="send",
        oninvalid="this.setCustomValidity('Введите Ваше имя!!!')",
        oninput="this.setCustomValidity('')",
        value="Dima"
        )
    .form__el-wrap
      label.form__label.vshidden(for="phone") Phone
      input.form__input#phone(
        type="tel",
        name="phone",
        inputmode="numeric",
        placeholder="Phone",
        spellcheck="true",
        autocorrect="on",
        required,
        pattern="[0-9,+]{2}[0-9,()]{5}[0-9]{3}-[0-9]{4}",
        mozactionhint="send",
        title="Введите контактный номер телефона. Поле должно соответствовать данному примеру: +7(999)999-9999"
        oninvalid="this.setCustomValidity('Введите номер телефона!!! Используйте данную конструкцию +7(999)999-9999')",
        oninput="this.setCustomValidity('')",
        value="+7(999)999-9999"
        )
    .form__el-wrap
      label.form__label.vshidden(for="email") email
      input.form__input#email(
        type="email",
        name="email",
        inputmode="email",
        placeholder="Email",
        required,
        mozactionhint="send",
        title="Введите Email !!! Поле обязательно должно содержать символ @."
        oninvalid="this.setCustomValidity('Введите корректный Email!!!')",
        oninput="this.setCustomValidity('')"
        value="dima@mail.ru"
        )
    .form__el-wrap
      label.form__label.vshidden(for="subject") Subject
      input.form__input#subject(
        type="text",
        name="subject",
        placeholder="Subject",
        title="Введите тему сообщения.",
        value="Hello World"
        )
    .form__el-wrap
      label.form__label.vshidden(for="message") Message
      textarea.form__textarea#message(
        type="text",
        name="message",
        cols="30",
        rows="10",
        placeholder="Message",
        title="Введите сообщение."
        )
    button.form__submit(type="submit") Send Message